.navbar-brand>img {
  display: inline-block;
  width: 50px;
  margin-top: -15px;
  margin-right: 25px;

}

body {
  padding-top: 60px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

table {
  border-radius: 4px;
  /*width: 100%;*/
}

.table {
  /*width: 100px;*/
  border-left: 1px solid #d7d1d1;
  border-right: 1px solid #d7d1d1;
  border-bottom: 1px solid #d7d1d1;
  /*border-radius: 10px;*/
  /*vertical-align: middle;*/
}

thead {
  background-color: #e8e8e8;
}



th {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  border-left: 1px solid #c8c8c8;
  vertical-align: middle;
}

thead:hover {
  cursor: pointer;
}

/*tr:nth-child(even){
  background-color: #f2f2f2;
}*/

th {
  font-weight: 300;
  text-align: center;
  /*padding: 2.25em;*/
}

td {
  text-align: center;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  width: 5.625em;
}

.features-check-box {
  background-color: #fdfdfd;
  display: block;
  text-align: center;
  border: 1px solid #ebebeb;
  border-color:  #fdfdfd;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.8em;
}

.features-check-box:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.feature-checked {
  background-color: #22b661;
  border-color: #22b661;
}

.feature-checked:hover {
  background-color: #19964e;
  border-color: #19964e;
}

#search-requirements {
  margin-top: 20%;
}

#no-result {
  font-size: 24px;
}

#side-menu {
  height: 90vh;
  width: 100%;
  overflow-y: scroll;
  /*height:100vh;*/
  background: #ffffff;
  /*height: 100%;*/
  overflow-x: hidden;
  text-align: center;

}

.btn-groups {
  width: 100%;
  border-top: 1px solid #dadada;
  margin-top: 1em;
}

.credit-score-group {
  width: 100%;
  /*border-top: 1px solid #dadada;*/
  margin-top: 1em;
}


.rate-feature-bar:hover {
  cursor: pointer;
}

.card-display:hover {
  cursor: pointer;
}

#search-button {
  margin-left: 0.5em;
}

#all-credit-cards {
  margin-top: 0.2em;
  margin-right: 0.4em;
  border: solid 1px #e4e4e4;
  padding: 0.6em;
}

.pagination-location {
  margin-left: 40%;
}

.pagination-button {
  background-color: #fefefe;
  border: 1px solid #1f1f1f;
  border-radius: 0.3em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#rate-this-card {
  border-radius: 0.4em;
}

.submit-button {
  width: 5em;
  margin: auto;
  padding: 0.5em;
  border: 1px solid #cfcfcf;
  border-radius: 0.3em;
  background-color: #cfcfcf;
  margin-bottom: 1em;
  font-size: 1.3em;
}

.rate-close {
   font-size: 3.0em;
   margin-right: 0.2em;
}

#review-comments {
  height: 15em;
  margin-top: 5%;
  width: 90%;
}

/*.row {
    margin-left: 0;
    margin-right: 0;
}*/


/*#status-modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  zIndex: 1;
  opacity:85;
  overflowY: scroll;
}

#status {
  display: block;
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 50%;
  overflow: auto;
  text-align: center;
  height: 15em;
  borde-radius: 0.4em;
}*/
